<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link type="text/css" rel="stylesheet" href="../css/normalize.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Muli|Spectral+SC" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="icon" type="image/png" sizes="96x96" href="../media/favicon.ico">
  <link rel="stylesheet" href="../css/gallery.css">

  <title>GALLERY</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="/">HOME</a>
        </li>
        <li>
          <a href="/gallery">GALLERY</a>
        </li>
        <li>
          <a href="/profile">PROFILE</a>
        </li>
        <li>
          <i class="fas fa-bars"></i>
        </li>
      </ul>
    </nav>
  </header>

  <section class="mainGallery">

    <% for(var i=0; i<work.length; i++) {%>
      <section class="gallery">
        <a href="/artist?artistId=<%= work[i].email %>"><img data-email="<%= profile.find(p => p.email === work[i].email ).email%>" data-firstName="<%= profile.find(p => p.email === work[i].email ).firstName%>" data-lastName="<%= profile.find(p => p.email === work[i].email ).lastName%>" data-caption="<%= work[i].caption%>" class="pic personalArt"src="<%= work[i].artWork%>"></a>
        <section class="box">
          <a class="button glow" href="#popup1"><span>ARTIST INFORMATION</span></a>
        </section>
      </section>
    <% } %>
  </section>
  <section  class="overlay popup1 artistInfo">
    <section class="popup">
      <h2>
        <p></p>
        <p></p>
      </h2>
      <a class="close" href="#">&times;</a>
      <section class="content">
        <p class="desc"></p>
      </section>
    </section>
  </section>

  <footer>
    <p><a href="/signup">Join</a> our community of Artist</p>
  </footer>
  <script type="text/javascript" src="../js/description.js"></script>
</body>
</html>
